doctype html
html
  head
    link(rel='stylesheet', href='/css/main.css')
    script(type="text/javascript" src='vendor.js')
    script(type="text/javascript" src='/javascripts/index.js')
    
  body
    h1 Tasks App
    form(name="add-task", method="post", id="new-task")
      .input
        span Title
        input(type="text", name="title")
      .input
        span Comments
        input(type="text", name="comments")
      .action
        input(type="submit", value="add", id="add-task")
