doctype html
html
  head
    link(rel='stylesheet', href='/css/main.css')
    script(type="text/javascript" src='vendor.js')
    script(type="text/javascript" src='/javascripts/js/index.js')
    
  body
    h1 Email
    form(name="add-task", method="post", id="new-task")
      .input
        span Email:
        input(type="text", name="email")
      .action
        input(type="submit", value="Find", id="find-email")
